<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset password email</title>
  </head>

  <body>
    <h1 style="color: blue; text-align: center">Hello, {{name}}!</h1>
    <p
      style="
        width: fit-content;
        padding: 14px;
        border-radius: 4px;
        background-color: blue;
        margin: 0 auto;
      "
    >
      <a
        href="{{link}}"
        style="text-decoration: none; color: white; font-weight: 600"
        >Click here to reset your password!</a
      >
    </p>
  </body>
</html>
